*{
    padding:0;
    margin:0;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

.logo{
    height: 65px;
    
}

.header{
    min-height: 100vh;
    background-image: linear-gradient(#1c1c1cb5,#1c1c1cb5),url(../img/mix.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery{
    overflow: hidden;
    background-position: center;
    

}

.card1{
    background-color: #1c1c1cb5;
}

.about_us{
    min-height: 100vh;
    background-image: linear-gradient(#080808b5,#1c1c1cb5),url(../img/kimchi.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 10vh;

}

.footer{
    min-height: 5vh;
    background-color: black;
}